$main-colour: #b473e6;
$secondary-colour: #f3ecf8;
$logo-text-alt: rgb(232, 230, 227);
$background-colour: rgb(25,27,28);
$light-secondary-colour: rgba(31, 34, 35, 0.4);
$text-colour: #cbddec;
$code-background-colour: rgb(31, 34, 35);

$blockquote-background-colour: rgba(31, 34, 35, 0.4);
$blockquote-left-colour: darken($main-colour, 15%);
$blockquote-text-colour: rgba(166, 188, 206, 0.8);

$mobile-menu-colour: rgba(31, 34, 35, 0.5);
$mobile-menu-separator-colour: rgba(104, 115, 119, 0.5);
$mobile-navbar-shadow-colour: rgb(54, 58, 61);

@import "site";

