{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140396812-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-140396812-1');
	</script>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-64x64.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#7908cf">
	<meta name="msapplication-TileColor" content="#7908cf">
	<meta name="theme-color" content="#7908cf">

    {% if page %}
        <!-- meta properties: https://ogp.me/ -->
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:type" content="article">
        <meta property="og:description" content="{% if page.extra.carddesc %}{{ page.extra.carddesc }}{% endif %}">
        <meta property="og:image" content="{% if page.extra.cardimage %}{{ page.extra.cardimage | safe }}{% else %}/favicon-64x64.png{% endif %}">
        <meta property="og:url" content="{{ get_url(path=page.path) | safe }}">
        <meta name="twitter:image" content="{% if page.extra.cardimage %}{{ page.extra.cardimage | safe }}{% else %}/favicon-64x64.png{% endif %}">
    {% endif %}

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{% block title %}{{ config.title }}{% endblock title %}</title>

	{% if config.generate_rss %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
	{% endif %}

	{% block js %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
        {#
		{% if config.extra.katex_enable %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
			<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>

			{% if config.extra.katex_auto_render %}
				<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"
				onload="renderMathInElement(document.body);"></script>
			{% endif %}
		{% endif %}
        #}
	{% endblock js %}

	{% block css %}
		<meta name="color-scheme" content="dark light">
		<link id="theme-link" rel="stylesheet" href="{{ get_url(path="site-dark.css", trailing_slash=false) }}">
		{% if config.extra.katex_enable %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
		{% endif %}
	{% endblock css %}

	{% block extra_head %}
	{% endblock extra_head %}
	</head>

    <body>
        <div class="container">

            <div id="mobile-navbar" class="mobile-navbar">
				<div class="mobile-header-logo">
					<a href="/" class="logo">δ<span class="logo-text-alt">elta</span></a>: 
					<span class="logo-subtitle">
						Blog by <a href="https://github.com/64">&commat;64</a>
					</span>
				</div>
              <div class="mobile-navbar-icon icon-out">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

            <nav id="mobile-menu" class="mobile-menu slideout-menu slideout-menu-left">
              <ul class="mobile-menu-list">
                {% for item in config.extra.even_menu %}
                    <li class="mobile-menu-item">
                        <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                            {{ item.name }}
                        </a>
                    </li>
                {% endfor %}

					<!-- GitHub link -->
					<li class="mobile-menu-item">
						<a class="nav-link" href="https://github.com/64">
							 GitHub&nbsp;<svg class="mobile-menu-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
					</li>

					<!-- Theme toggle -->
					<li class="mobile-menu-item"><a class="theme-toggle">
						Theme&nbsp;<span class="toggle-dark" hidden><svg class="mobile-menu-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
						<span class="toggle-light"><svg class="mobile-menu-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
					</a></li>
              </ul>
            </nav>

            <header id="header">
				<div>
					<div class="logo">
						<a href="/" class="logo">δ<span class="logo-text-alt">elta</span></a>
					</div>
					<div class="logo-subtitle">
						Blog by <a href="https://github.com/64">&commat;64</a>
					</div>
				</div>
                <nav class="menu">
                    <ul>
                        {% for item in config.extra.even_menu %}
                            <li>
                                <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endfor %}

						<li class="menu-separator"></li>

						<!-- GitHub link -->
						<li class="menu-icon">
							<a class="nav-link" href="https://github.com/64"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
						</li>

						<!-- Theme toggle -->
						<li class="menu-icon"><a class="theme-toggle">
							<span class="toggle-dark" hidden><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
							<span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
						</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                <div class="content" id="mobile-panel">
                    {% block content %}
                        <div class="posts">
                            {% for page in paginator.pages %}
                                <article class="post">
                                    {{ post_macros::title(page=page) }}
                                    <div class="post__summary">
                                        {{ page.summary | safe }}
                                    </div>
                                    <div class="read-more">
                                        <a href="{{ page.permalink }}">Read more...</a>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        <nav class="pagination">
                            {% if paginator.previous %}
                                <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
                            {% endif %}
                            {% if paginator.next %}
                                <a class="next" href="{{ paginator.next }}">Next ›</a>
                            {% endif %}
                        </nav>
                    {% endblock content %}
                </div>
            </main>

            {% block footer %}
            {% endblock footer %}
        </div>

      {% block js_body %}
          {% if config.extra.disqus_comment_count %}
              {{ config.extra.disqus_comment_count | safe }}
          {% endif %}
          <script type="text/javascript" src="{{ get_url(path="theme.js", trailing_slash=false) }}" defer></script>
          <script type="text/javascript" src="{{ get_url(path="even.js", trailing_slash=false) }}" ></script>
      {% endblock js_body %}
    </body>

</html>
