{% macro title(page) %}
    <header class="post__header">
        <h1 class="post__title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
        <div class="post__meta">
            <span class="post__time">{{ page.date | date(format="%b %e, %Y") }}</span>
            <span class="post__readtime">
                &bull; {{ page.reading_time }} minute read
            </span>
            {% if page.taxonomies.categories %}
                {% for category in page.taxonomies.categories %}
                    &bull;
                    <span class="post__category">
                            <a href="{{ get_taxonomy_url(kind="categories", name=category) }}">{{ category }}</a>
                    </span>
                {% endfor %}
            {% endif %}
            {% if config.extra.disqus_comment_count %}
            &bull;
            <span class="post__comment_count">
                <a href="{{ page.permalink }}#disqus_thread">Comments</a>
            </span>
            {% endif %}
        </div>
    </header>
{% endmacro title %}
